<h1>Thêm user</h1>

<form action="/add" method="POST">
    Phone: <input type="number" name="Phone"><br>
    Password: <input type="text" name="Password"><br>
    TypeRegister: <input type="text" name="TypeRegister"><br>
    TokenLogin: <input type="text" name="TokenLogin"><br>
    DeviceID: <input type="text" name="DeviceID"><br>
    FcmTokens: <input type="number" name="FcmTokens"><br>
    <button type="submit">Thêm user</button>
</form>